@model IEnumerable<ChatItUp.Models.Forum>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p><a asp-controller="Categories" asp-action="Index">Categories </a>: Forum</p>

<table class="table">
    <thead>
        <tr>
            <th>
               <span>Thread</span>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Threads" asp-action="Index" asp-route-id="@item.ForumId">
                    @Html.DisplayFor(modelItem => item.ThreadTitles)
                        </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thread)
                </td>

            </tr>
        }
    </tbody>
</table>
