@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/othercoolcat.jpeg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/coolercat.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>
        </div>
        <div class="item">
            <img src="~/images/coolerestcat.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>
        </div>
        <div class="item">
            <img src="~/images/thecoolest.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Chat It Up's Purpose</h2>
        <ul>
            <li>Allow users to engage in topic conversation via forum discussions</li>
            <li>Connect these user together through our friend system</li>
            <li>See what those friends are commenting on, and join in!</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Click the register link and create your account (you do not have to create an account to view the threads however)</li>
            <li>Click "Start Chatting" to go to the categories list and select a category</li>
            <li>Choose a forum you would like to start a discussion in</li>
            <li>Create a new topic of discussion or jump into an already existing one</li>
            <li>Use the search bar to look for people you may know or Forum title's you're interested in</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Rules</h2>
        <ul>
            <li>Try to be respectful, this isn't an anonymous message board</li>
            <li>Keep flaming to a minimum</li>
            <li>Overall don't be "That guy"</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Suggestions</h2>
        <ul>
            <li>If there are any suggestions you would to make about the site like adding or removing forums, head over to the contact page and send me an email and I'll put it under review.</li>
        </ul>
    </div>
</div>
